.editable-block {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  max-width: 100%;

  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

.editable-block:focus {
  background-color: rgba(20, 144, 99, 0.2);
  padding: 1px 2px;
}

@keyframes highlight {
  0% {
    background-color: rgba(20, 144, 99, 0.4);
  }
  100% {
    background-color: transparent;
  }
}
